LIVEKIT_URL=https://{YOUR-PROJECT}.livekit.cloud
LIVEKIT_API_KEY={API_KEY}
LIVEKIT_API_SECRET={API_SECRET}
LIVEKIT_EGRESS_RTMP_URL=rtmp://a.rtmp.youtube.com/live2/{STREAM_KEY}
LIVEKIT_EGRESS_RTMP_URL2=rtmp://live.twitch.tv/app/{STREAM_KEY}